*,*::before,*::after{
    box-sizing:border-box;
}
body{
    margin:0;
    padding: 0;
    display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.progress-bar{
    position: relative;
    width:500px;
    height:3em;
    background-color:black;
    color:white;
    border-radius:1.5em;
}
.progress-bar::before{
    position: absolute;
    display: flex;
    align-items: center;
    content:attr(data-label);
    top:.5em;
    left:.5em;
    bottom:.5em;
    width:calc(var(--width,0)*1%);
    min-width:2rem;
    max-width:calc(100% - 1em);
    background-color:rgba(15, 170, 175, 0.678);
    padding:1em;
    border-radius:1em;
}